<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aceh</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      /* font inter */
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
      * {
        font-family: 'Inter', sans-serif;
      }
      .bg-body {
        background-image: url('../public/images/heros/hero__header.png');
      }
    </style>
  </head>
  <body >
    <main class="bg-fixed bg-center bg-cover bg-no-repeat bg-body">
      <div class="container mx-auto my-10">
        <img
          src="../public/images/Logo_warisanKU.png"
          alt="title"
          class="w-1/6"
        />
        <div class="bg-violet-950/70 px-3">
          <h1 class="text-4xl text-white text-center font-bold pt-10">Aceh</h1>
          <h2 class="text-3xl text-white pt-5 font-bold">Makanan Khas</h2>
          <hr />
          <!-- tampilkan skeleton menampilkan gambar dan nama makanan (deskripsi jika ada) -->
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 py-3">
            <div class="bg-transparent rounded-md shadow-lg border-white border-2">
              <img
                src="../../api/img/aesan-gede.jpg"
                alt="food"
                class="h-60 min-h-0 max-h-70 mx-auto rounded-t-lg"
              />
              <div class="p-5">
                <h3 class="text-xl font-bold text-violet-300">Mie Aceh</h3>
                <p class="text-white text-sm">
                  Mie Aceh adalah masakan mie pedas yang berasal dari Aceh, Indonesia. Mie Aceh
                  terbuat dari mie kuning yang disajikan dengan irisan daging sapi atau kambing,
                  udang, kerang, dan sayuran hijau.
                </p>
              </div>
            </div>
            <div class="bg-transparent rounded-md shadow-lg border-white border-2">
              <img
                src="../../api/img/alat-tusuk-dari-tulang-kuskus.webp"
                alt="food"
                class="h-60 min-h-0 max-h-70 mx-auto rounded-t-lg"
              />
              <div class="p-5">
                <h3 class="text-xl font-bold text-violet-300">Mie Aceh</h3>
                <p class="text-white text-sm">
                  Mie Aceh adalah masakan mie pedas yang berasal dari Aceh, Indonesia. Mie Aceh
                  terbuat dari mie kuning yang disajikan dengan irisan daging sapi atau kambing,
                  udang, kerang, dan sayuran hijau.
                  Mie Aceh adalah masakan mie pedas yang berasal dari Aceh, Indonesia. Mie Aceh
                  terbuat dari mie kuning yang disajikan dengan irisan daging sapi atau kambing,
                  udang, kerang, dan sayuran hijau.
                </p>
              </div>
            </div>
            <div class="bg-transparent rounded-md shadow-lg border-white border-2">
              <img
                src="../../api/img/amplang.jpg"
                alt="food"
                class="h-60 min-h-0 max-h-70 mx-auto rounded-t-lg"
              />
              <div class="p-5">
                <h3 class="text-xl font-bold text-violet-300">Mie Aceh</h3>
                <p class="text-white text-sm">
                  Mie Aceh adalah masakan mie pedas yang berasal dari Aceh, Indonesia. Mie Aceh
                  terbuat dari mie kuning yang disajikan dengan irisan daging sapi atau kambing,
                  udang, kerang, dan sayuran hijau.
                </p>
              </div>
            </div>
        
            
            
        </div>
      </div>
    </main>
    <!-- gambar title kecil kiri  -->
  </body>
</html>
