<table border="1">
  <tr>
    <td>
      <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">
        <img src="https://cdn.svgporn.com/logos/html-5.svg" width="30" />
      </a>
    </td>
    <td>
      <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">
        <img src="https://cdn.svgporn.com/logos/css-3.svg" width="30" />
      </a>
    </td>
    <td>
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
        <img src="https://cdn.svgporn.com/logos/javascript.svg" width="30" />
      </a>
    </td>
    <!-- webpack 5 -->
    <td>
      <a href="https://webpack.js.org/">
        <img src="https://cdn.svgporn.com/logos/webpack.svg" width="30" />
      </a>
    </td>
    <!-- babel 7 -->
    <td>
      <a href="https://babeljs.io/">
        <img src="https://cdn.svgporn.com/logos/babel.svg" width="30" />
      </a>
    </td>
    <!-- pwa -->
    <td>
      <a href="https://web.dev/progressive-web-apps/">
        <img src="https://cdn.svgporn.com/logos/pwa.svg" width="30" />
      </a>
    </td>
  </tr>
  <tr>
    <!-- swiper -->
    <td>
      <a href="https://swiperjs.com/">
        <img src="https://cdn.svgporn.com/logos/swiper.svg" width="30" />
      </a>
    </td>
    <!-- tailwind -->
    <td>
      <a href="https://tailwindcss.com/">
        <img
          src="https://cdn.svgporn.com/logos/tailwindcss-icon.svg"
          width="30"
        />
      </a>
    </td>
    <!-- eslint -->
    <td>
      <a href="https://eslint.org/">
        <img src="https://cdn.svgporn.com/logos/eslint.svg" width="30" />
      </a>
    </td>
    <!-- prettier -->
    <td>
      <a href="https://prettier.io/">
        <img src="https://cdn.svgporn.com/logos/prettier.svg" width="30" />
      </a>
    </td>
    <!-- postcss -->
    <td>
      <a href="https://postcss.org/">
        <img src="https://cdn.svgporn.com/logos/postcss.svg" width="30" />
      </a>
    </td>
    <!-- workbox -->
    <td>
      <a href="https://developers.google.com/web/tools/workbox">
        <img src="https://cdn.svgporn.com/logos/workbox.svg" width="30" />
      </a>
    </td>
  </tr>
</table>
