:root{
  --primary:#ECB8AA;
  --bg:#312B6C;
}
body{
  background-color: var(--bg);
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}
.sorotan{
 color: var(--bg); 
}
.sorotan-terang{
  color: var(--primary);
}
 .logo__header{
  min-width: 44px;
  max-width: 100px;
}
nav ul li .ctn{
  background-color: var(--bg);
  color: var(--primary);
  padding: 0 0.8rem;
  border-radius: 10px;
  font-weight: 600;
}
nav{
  margin-top: 0.6rem;
  padding: 0 2rem;
  position: absolute;
  width: 100%;
  background-color: transparent;
  /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); */
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li{
  height: 44px;
}

nav a{
  height: 100%;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav a:hover{
  background-color: #f9e7d8;
  font-weight: bold;
  color: var(--bg);
}

nav li:first-child{
  margin-right: auto;
}
.drawer{
  display: none;
  min-width: 44px;
}
.sidebar{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}

main{
  height: 2000px;
}

main section.hero{
  width: 100%;
  min-height: 800px;
  background-image: url('../public/images/heros/hero__header.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 8rem;  
  text-align: center;
}

main section .hero-header{
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main section .hero-header h1{
  font-size: 3rem;
}

main section .hero-header p{
display: inline-block;
color: var(--bg);
}

main section .hero-header .ctn{
  background-color: var(--bg);
  color: var(--primary);
  padding: 0.9rem 0.5rem;
  border-radius: 9px;
  margin-top: 7px;
  font-weight: 600;
}
main section.summary article.row{
  display: flex;
  gap: 5rem;
  justify-content: center;
  flex-wrap: wrap;
}

main section.summary article.row .card__summary{
  height: 150px;
  width: 280px;
  background-color: var(--bg);
  padding: 0.9rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}


main section.summary article.row .card__summary h5{
  color: var(--primary);
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  gap: 7px;
}

main section.summary article.row .card__summary p{
 font-size: 0.8rem;
 font-weight: 100;
 line-height: 1.3rem;
}

section.about article{
  padding: 1rem 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about article h2{
  padding-top: 5rem;
  font-size: 2rem;
}

.about article p.summary__about{
  padding-bottom: 2rem;
  width: 50%;
  font-weight: 200;
}

section.about article .cards__about{
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

section.about article .cards__about .card__point{
  height: 250px;
  width: 200px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 1rem 0.5rem;
  border-radius: 4px;
}


section.about article .cards__about .card__point h3{
  color: black;
}
section.about article .cards__about .card__point p{
  font-size: 0.9rem;
  font-weight: 300;
  color: black;
}