/* Tablet */
@media screen and (max-width: 840px) {
  nav{
  font-size: 0.8rem;
  }
  main section.summary article.row{
    gap: 1rem;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {

header nav{
  padding: 0;
}  
.navbar{
  display: none;
}
.drawer{
  display: flex;
}
main section.hero{
  padding: 8rem 2rem;
  min-height: 500px;
}
main section.summary article.row{
  gap: 0.6rem;
}
}
